

h1
{
	font-size: 30px;
}

h2
{
	font-size: 30px;
}

label,h1,h2{
	color: white;
}

fieldset{
	border-color:white;
	
}

/* MENU CSS */
nav 
{
	padding : 0px;
	margin: 0px;
	list-style-type: none;
	
}

nav
{
	/*display:inline-block /* pour mettre le menu horizontalement */
	list-style-type: none;
	width: 100px;
	height: 40px;
	margin: 0px;
	padding: 0px;
	border-right: 1px solid #CCCCCC;
	/*text-align: center  pour mettre le menu a gauche ou centre */
	line-height: 40px;
	float:left;
	position:relative;
}

nav 
{
	text-decoration: black;
	color: white;
	display: block;
}

nav li a:hover 
{
	background-color: #3388BB;
}

.menu, .limiter{
	
}

form{
	padding-left: 200px;
}

.inscri{
	padding-left: 10px;	
}


a{
	color:white;
}

.refresh{
	font-weight: bold;
	padding:6px 6px 6px 6px;
	border:1px solid #ccc;
	box-shadow:1px 1px 3px #999;
	background: #303e45;
	color:white;
}