body
{
	
	color: black;
}
h1
{
	text-align: center;
	position: absolute;
	top: 35%;
	left: 50%;
	transform: translate(-50%, -50%);
}

form
{
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	padding: 30%;
	justify-content: center;
	transform: translate(-50%, -50%);
	border-collapse: separate;
}

input{
	border-color: #EEEEEE;
}

label,header, a,h1{
	color: white;
}

.logo{
	display: block;
  margin-left: auto;
  margin-right: auto;
	width:15%;
	height:15%;
	padding-top: 40px;
	
}